gmp-status-simulator/src/main/resources/status-simulator.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="simulatedStatuses" type="simulatedStatusesType"/>
    <xs:complexType name="parametersType">
        <xs:sequence>
            <xs:element type="xs:decimal" name="max" minOccurs="0"/>
            <xs:element type="xs:decimal" name="min" minOccurs="0"/>
            <xs:element type="xs:integer" name="period" minOccurs="0"/>
            <xs:element type="xs:string" name="repeat" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="enumerationType">
        <xs:sequence>
            <xs:element name="value" maxOccurs="unbounded" minOccurs="0" type="xs:string">
            </xs:element>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="statusType">
        <xs:sequence>
            <xs:element name="name" type="xs:string" minOccurs="1"/>
            <xs:element name="type">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="double"/>
                        <xs:enumeration value="int"/>
                        <xs:enumeration value="string"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="size" type="xs:integer" minOccurs="0"/>
            <xs:element name="updateRate" type="xs:integer" minOccurs="1"/>
            <xs:element name="mode">
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:enumeration value="random"/>
                        <xs:enumeration value="slope"/>
                        <xs:enumeration value="asymptotic"/>
                        <xs:enumeration value="asymptotic-with-noise"/>
                        <xs:enumeration value="enumeration"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element type="parametersType" name="parameters"/>
            <xs:element type="enumerationType" name="enumeration" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
    <xs:complexType name="simulatedStatusesType">
        <xs:sequence>
            <xs:element type="statusType" name="status" maxOccurs="unbounded" minOccurs="0"/>
        </xs:sequence>
    </xs:complexType>
</xs:schema>